html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	font-family: sans-serif;
}

.box {
	border: 2px solid black;
	background: #efefefff;
	margin-top: 25px;
	outline: none;
	box-sizing: border-box;
}

.box:active {
	border: 2px solid white;
}

#maininput {
	width: calc(100% - 50px);
	height: 200px;
	resize: none;
}

#convert {
	width: calc(50% - 50px);
	margin-top: 20px;

	background: lightgreen;
	padding-top: 10px;
}

.row {
	width: calc(100% - 50px);
}

.row div {
	user-select: none;
	font-size: 22px;
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
}

.button {
	width: calc(100% - 50px);
	height: 50px;
	height: 50px;
	padding: 10px;
	font-size: 22px;

	display: inline-block;
	background: lightblue;
	user-select: none;
}
